@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h1 class="display-4 text-center">Exercício CRUD - PUC Minas</h1>
    <br />

    <h2>Objetivo:</h2>
    <p>Criar um CRUD com informações sobre veículos.</p>
    <h3>Dados necessários:</h3>
        <ul>
            <li>Nome;</li>
            <li>Placa;</li>
            <li>Ano de Fabricação;</li>
            <li>Ano do Modelo.</li>
        </ul>

    <h3>Ações necessárias:</h3>
       <ul>
            <li>Create (Adicionar);</li>
            <li>Read (Visualizar);</li>
            <li>Update (Editar);</li>
            <li>Delete (Excluir).</li>
        </ul>
</div>

<div>
    <h2>Como acessar:</h2>
    <p>Clique na opção "Veículos" presente na barra de navegação.</p>
</div>
